// Color system
// Version 2.0.2

/* Normal Gray */
$white:    #ffffff !default; // Base
$gray-10:  #fcfcfc !default; // Base
$gray-20:  #fafafa !default; // Base
$gray-50:  #f2f2f2 !default; // Base
$gray-70:  #f9f9f9 !default; // Base
$gray-100: #e5e5e5 !default; // Base
$gray-200: #cccccc !default; // Base
$gray-300: #b3b3b3 !default; // Base
$gray-400: #999999 !default; // Base
$gray-500: #808080 !default; // Base
$gray-600: #666666 !default; // Base
$gray-700: #4d4d4d !default; // Base
$gray-800: #333333 !default; // Base - $body-color
$gray-900: #191919 !default; // Base
$black:    #000000 !default;
/* End Of Normal Gray */

/* Normal Dark */
$dark-100: #1A1A1A !default;
/* End Of Normal Dark */

/* Slate Gray */
// $white:    #fff;
// $gray-10:  #fcfcfc !default; // Base
// $gray-20:  #fafafa !default; // Base
// $gray-50:  #f1f3f4 !default; // Base
// $gray-70:  #e2e6e9 !default; // Base
// $gray-100: #e9ecee !default; // Base
// $gray-200: #c8ced5 !default; // Base
// $gray-300: #b2bbc3 !default; // Base
// $gray-400: #9ca7b2 !default; // Base
// $gray-500: #7b8a99 !default; // Base
// $gray-600: #677685 !default; // Base
// $gray-700: #4e5964 !default; // Base
// $gray-800: #343b43 !default; // Base - $body-color
// $gray-900: #1a1e22 !default; // Base
// $black:    #000001 !default;
/* End Of Slate Gray */

/* Group Grays */
$grays: (
  "10": $gray-10, // Base
  "20": $gray-20, // Base
  "50": $gray-50, // Base
  "70": $gray-70, // Base,
);
/* End Of Group Grays */

/* Group Darks */
$darks: (
  "100": $dark-100, // Base
);
/* End Of Group Darks */

// stylelint-disable-next-line scss/dollar-variable-default
/* Map Group Grays */
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);
/* End Of Map Group Grays */


/* Main Colors */
$blue:      #007bff !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #e83e8c !default;
$red:       #dc3545 !default;
$orange:    #fd7e14 !default;
$yellow:    #ffc107 !default; 
$green:     #28a745 !default;
$teal:      #20c997 !default;
$cyan:      #17a2b8 !default;
$golden:    #cba67d !default; // Base
$darkblue:  #0C2E3D !default; // Atoms
$policeblue:#265366 !default; // Atoms
/* End Of Main Colors */

/* Brand Colors */
$purple-instagram:#dd2a7b !default; // Base
$blue-twitter:    #00acee !default; // Base
$blue-facebook:   #1877f2 !default; // Base
$blue-linkedin:   #0077b5 !default; // Base
$blue-opensea:    #2081e2 !default; // Base
$red-youtube:     #e62117 !default; // Base
$red-pinterest:   #E60023 !default; // Base
$green-whatsapp:  #25D366 !default; // Base
$green-medium:    #00ab6c !default; // Base
$pink-tiktok:     #ee1d52 !default; // Base
$purple-discord:  #7289da !default; // Base
$red-email:       #e54e43 !default; // Base
/* End Of Brand Colors */

/* Group Brand Colors */
$brand-colors: (
  "instagram":  $purple-instagram, 
  "twitter":    $blue-twitter,
  "facebook":   $blue-facebook, 
  "linkedin":   $blue-linkedin, 
  "opensea":    $blue-opensea, 
  "youtube":    $red-youtube,
  "pinterest":  $red-pinterest,
  "whatsapp":   $green-whatsapp,
  "medium":     $green-medium,
  "tiktok":     $pink-tiktok,
  "discord":    $purple-discord,
  "email":      $red-email,
);
/* End Of Group Brand Colors */

/* Group Main Colors */
$colors: (
  "golden": $golden, // Base,
  "darkblue": $darkblue,
  "policeblue": $policeblue
);
/* End Of Group Main Colors */

/* Map Main Colors */
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":      $blue,
    "indigo":    $indigo,
    "purple":    $purple,
    "pink":      $pink,
    "red":       $red,
    "orange":    $orange,
    "yellow":    $yellow,
    "green":     $green,
    "teal":      $teal,
    "cyan":      $cyan,
    "white":     $white,
    "gray":      $gray-600,
    "gray-dark": $gray-800,
  ),
  $colors
);
/* End Of Map Main Colors */

/* Assign Colors */
$primary:     $darkblue; 
$secondary:   $gray-500; // Base
$success:     $green;
$info:        $cyan;
$warning:     $yellow;
$danger:      $red;
$light:       $gray-20; // Base
$dark:        $gray-900; // Base
/* End Of Assign Colors */

/* Group Theme Colors */
$theme-colors: (
  "gray-10":  $gray-10, // Base
  "gray-20":  $gray-20, // Base
  "gray-50":  $gray-50, // Base
  "gray-70":  $gray-70, // Base
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "black":    $black,
  "white":    $white,
);
/* End Of Group Theme Colors */

/* Map Group Theme Colors */
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":   $primary,
    "secondary": $secondary,
    "success":   $success,
    "info":      $info,
    "warning":   $warning,
    "danger":    $danger,
    "light":     $light,
    "dark":      $dark,
  ),
  $theme-colors
);
/* End Of Map Group Theme Colors */

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

// Characters which are escaped by the escape-svg function
$escaped-characters: (("<", "%3c"), (">", "%3e"), ("#", "%23"));

// Body Color
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-800; // Base
$body-color-secondary: $gray-400; // Base

// Links Color
//
// Style anchor elements.

$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none; // Base
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$btn-hover-bg-darken: 5%; // Base (default: 7.5%)
$btn-hover-border-darken: $btn-hover-bg-darken; // Base (default: 10%)
// $btn-hover-active-bg-darken: 10%; // Base
// $btn-hover-active-border-darken: $btn-hover-active-bg-darken; // Base (default: 12.5%)