.navbar {
    background: $gray-900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 85px;
    z-index: 1001;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-left {
            .navbar-menu {
                list-style: none;
                display: flex;
                padding-left: 0;
                margin-bottom: 0;
                .navbar-menu__item {
                    margin-right: 0.5rem;
                    a {
                        @extend .hover-underline;
                        @extend .text-white;
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
        .navbar-brand {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 50px;
            @include media-breakpoint-down(sm) {
                left: 1rem;
                margin-left: 0;
            }
        }
        .navbar-right {
            display: flex;
            align-items: center;
            .btn-cart,
            .btn-menu-toggle {
                cursor: pointer;
                margin-left: 1.25rem;
                i {
                    font-size: 1.5rem;
                    color: $white;
                }
            }
            @include media-breakpoint-down(sm) {
                margin-right: -1.25rem;
            }
            @include media-breakpoint-up(md) {
                .btn-menu-toggle {
                    display: none;
                }
            }
        }
    }
}
