@use "../variables/grid";

.sc-product-component {
    .row {
        .col-img {
            @media screen and (min-width: grid.$lg) {
                position: sticky;
                top: 100px;
            }
            .carousel {
                .cover {
                    .cover-bg-wrapper {
                        border-radius: 0.25rem;
                    }
                }
            }
        }
        .col-text {
            .price {
                font-weight: var(--font-weight-normal);
                font-size: 1.25rem;
                &.is-on-sale {
                    span {
                      text-decoration: line-through;
                      margin-right: 0.5rem;
                      color: var(--secondary);
                      @media screen and (max-width: grid.$sm) {
                        display: block;
                      }
                      &.sale-price {
                        color: var(--danger);
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: var(--font-weight-bold);
                      }
                    }
                  }
            }
            .product-attributes {
                .product-attributes-variant {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .product-attributes-variant__item {
                        margin-right: 0.5rem;
                        width: 75px;
                        height: 50px;
                        cursor: pointer;
                        border: 1.5px solid var(--gray-200);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: var(--font-weight-bold);
                        font-size: 1.25rem;
                        transition: all 0.5s ease-in-out;
                        &.selected {
                            border: 1.5px solid var(--dark);
                        }
                    }
                }
            }
            @media screen and (max-width: grid.$lg) {
                margin-top: 1.5rem;
            }
        }
    }
}