// ░█▀▀▄ ░█▀▀▀█ 　 ░█▄─░█ ░█▀▀▀█ ▀▀█▀▀ 　 ░█▀▀▀ ░█▀▀▄ ▀█▀ ▀▀█▀▀
// ░█─░█ ░█──░█ 　 ░█░█░█ ░█──░█ ─░█── 　 ░█▀▀▀ ░█─░█ ░█─ ─░█──
// ░█▄▄▀ ░█▄▄▄█ 　 ░█──▀█ ░█▄▄▄█ ─░█── 　 ░█▄▄▄ ░█▄▄▀ ▄█▄ ─░█──
// Override style on .skeleton-custom.scss instead
// unless you want to upgrade the component version

// ========================================================================================================================================
// Page Indicator
// ========================================================================================================================================

.page-indicator-bar {
    display: flex;
    gap: 0.5rem;
    .page-indicator__item {
        width: 1.5rem;
        height: 0.25rem;
        border-radius: 5px;
        cursor: pointer;
    }
    &.page-indicator-dark {
        .page-indicator__item {
            background: rgba(255, 255, 255, 0.3);
            &.active {
                background: var(--white);
            }
        }
    }
    &.page-indicator-light {
        .page-indicator__item {
            background: rgba(0, 0, 0, 0.3);
            &.active {
                background: var(--dark);
            }
        }
    }
}

.page-indicator-number-line {

    .current-page {
        position: relative;
        margin-right: 3rem;
        &::after {
            content: "";
            position: absolute;
            width: 2rem;
            height: 1px;
            right: -2.5rem;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    &.page-indicator-dark {
        .current-page {
            &::after {
                background: var(--white);
            }
        }
    }
    &.page-indicator-light {
        .current-page {
            &::after {
                background: var(--dark);
            }
        }
    }
}
